cis.in
Makefile
mp2
MYTEST.*
cmake_install.cmake
*.gch
*.o
build/
syshfwplug/CMakeFiles/
syshfwplug/__init__.pyc
syshfwplug/pymodule.pyc
syshfwplug/pymodule.py~
syshfwplug/CMakeCache.txt
syshfwplug/psi.*
syshfwplug/timer.dat
*.swp
