cis.in
Makefile
mp2
MYTEST.*
cmake_install.cmake
*.gch
*.o
build*
syshfwplug/CMakeFiles/
syshfwplug/__init__.pyc
syshfwplug/pymodule.pyc
syshfwplug/pymodule.py~
syshfwplug/CMakeCache.txt
syshfwplug/*.so
syshfwplug/psi.*
syshfwplug/timer.dat
syshfwplug/output.dat
*.swp
src/CMakeLists.txt.user
syshfwplug/plugin.creator.user
